<ScrollLayout [formGroup]="form">
    <label class="h1 title" text=" Or create a new one"></label>
    <StackLayout class="form-group">
        <label text="Channel name:"></label>
        <TextField class="form-control" formControlName="channel"></TextField>
        <label *ngIf="!form.controls.channel.valid && form.controls.channel.invalid && form.controls.channel.touched" class="text-danger" text="Channel name is required (minimum 5 characters).">
        </label>
    </StackLayout>
    <StackLayout formArrayName="path">
        <StackLayout *ngFor="let path of form.controls.path.controls; let i=index" class="panel panel-default">
            <StackLayout class="panel-heading ">
                <label text="Path {{i + 1}}"></label>
                <Button *ngIf="form.controls.path.controls.length > 1" (click)="removePath(i)" text="Remove path V" width="auto">
                </Button>
            </StackLayout>
            <StackLayout class="panel-body" [formGroupName]="i" class="border">

                <StackLayout class="form-group">
                    <label text="pathurl"></label>
                    <TextField class="form-control" formControlName="pathurl" hint="/component/news"></TextField>
                    <label *ngIf="!path.controls.pathurl.valid && path.controls.pathurl.invalid && path.controls.pathurl.touched" class="text-danger" text="pathurl is required"></label>
                </StackLayout>
                <StackLayout class="form-group">
                    <label text="description"></label>
                    <TextField class="form-control" formControlName="description"></TextField>
                    <label *ngIf="!path.controls.description.valid && path.controls.description.invalid && path.controls.description.touched" class="text-danger" text="pathurl is required"></label>
                </StackLayout>
                <StackLayout class="form-group">
                    <label text="component name"></label>
                    <TextField class="form-control" formControlName="componentName"></TextField>
                    <label *ngIf="!path.controls.componentName.valid && path.controls.componentName.invalid && path.controls.componentName.touched" class="text-danger" text="pathurl is required"></label>
                </StackLayout>
                <StackLayout class="form-group">
                    <label text="delay"></label>
                    <TextField class="form-control" keyboardType="number" formControlName="delay"></TextField>
                    <label *ngIf="!path.controls.delay.valid && path.controls.delay.invalid && path.controls.delay.touched" class="text-danger" text="pathurl is required"></label>
                </StackLayout>
                <label [text]="form.valid"></label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

    
        <Button (tap)="addPath()" width="auto" class="btn btn-succes pull-right" text="New Path +">
        </Button>
        <Button (tap)="save()" class="btn btn-primary pull-right" text="Submit" [disabled]="!form.valid"></Button>

</ScrollLayout>
